hood:
  login: melder@example.com
  password: password
  my2fa: ABCD
  pickle_name: rick

redis:
  host: localhost
  port: 6379
  # password: pass

mongo:
  host: localhost
  port: 27017
  database: production
  # username: user
  # password: pass
  # auth_source: auth_db

discord:
  webhooks:
    anomaly: https://discord.com/api/webhooks/abc
    something_else: https://discord.com/api/webhooks/def
